* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Console", "Courier New", monospace;
}

.homepage {
	width: 900px;
}

.nav {
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.jumbotron {
	border-radius: 50%;
	margin-top: 50px;
}

.display-4 {
	text-align: center;
}

.lead {
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
}

.card-body {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.card-img-top {
	border-radius: 50%;
	margin-top: 30px;
	width: 200px;
}

.card-main {
	height: 150px;
	width: 250px;
	border-radius: 50%;
}

.btn-card {
	font-size: 15px;
}

.col-card {
	background-color: slategray;
	width: 200px;
	border-radius: 50%;
}

/*Projects*/

.accordion {
	margin-top: 40px;
}

.mainfooter {
  padding:20px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.mainfooter ul {
  padding:0;
  text-align:center;
  font-size:16px;
  margin-bottom:0;
}

.mainfooter ul a {
  color: #4b4c4d;
  text-decoration:none;
}

.mainfooter .social {
  text-align:center;
  padding-bottom:25px;
}


.mainfooter .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  border-radius: 50%;
  border:2px solid #4b4c4d;
  margin:0 5px;
  color:inherit;
  opacity:0.75;
}

