* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Console", "Courier New", monospace;
}

/*Homepage css*/
.homepage {
	width: 900px;
	text-align: center;
}

.jumbotron {
	background-color: whitesmoke;
	height: 120vh;
	text-align: center;
	border-style: inset;
}

.jumbotrondesign1 {
	border-style: solid;
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: space-between;
	background-color: red;
}

.jumbotrondesign2 {
	border-style: solid;
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: space-between;
	background-color: orange;
}

.jumbotrondesign3 {
	border-style: solid;
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: space-between;
	background-color: yellow;
}

.jumbotrondesign4 {
	border-style: solid;
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: space-between;
	background-color: green;
}

.jumbotrondesign5 {
	border-style: solid;
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: space-between;
	background-color: blue;
}

.jumbotrondesign6 {
	border-style: solid;
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: space-between;
	background-color: violet;
}

.success {
	height: 80px;
	margin-top: 30px;
	border-radius: 50%;
	font-size: 24px;
}

.display-4 {
	padding-top: 50px;
}


/*Contact page css*/

.container-contact {
	border-style: ridge;
	border-width: 3px;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 900px;
}

.contactlinks {
	margin-top: 30px;
}

.contactimages {
	display: flex;
	padding-top: 10px;
	justify-content: space-around;
}

a:link {
  text-decoration: none;
}

.contactform {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.form-group {

}

.map {
	width: 400px;
}


/*About*/

.mainfooter {
  padding:20px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.mainfooter ul {
  padding:0;
  text-align:center;
  font-size:16px;
  margin-bottom:0;
}

.mainfooter ul a {
  color: #4b4c4d;
  text-decoration:none;
}

.mainfooter .social {
  text-align:center;
  padding-bottom:25px;
}


.mainfooter .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  border-radius: 50%;
  border:2px solid #4b4c4d;
  margin:0 5px;
  color:inherit;
  opacity:0.75;
}

